/* second-navbar.css */

/* Style adjustments for the second navbar */
.second-navbar {
    margin-top: 20px;
    height: 100px;


.navbar-brand img {
    margin-right: 10px; 
    width: 300px;
    height: 60px;
}

.navbar-nav .nav-item .nav-link {
    color: #041d36;
}


/* Optional: Adjust styles for the dropdown menu */
.dropdown-menu {
    background-color: #f8f9fa;
}

.dropdown-item {
    color: #04172b; 
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #e9ecef; 
}
}

